@font-face {
  font-family: myFont;
  src: url(fonts/IBMPlexSans_Condensed-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
}

a {
  all: unset;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: myFont;
  background-color: #222;
  width: 100%;
  min-width: 1240px;
  max-width: 3840px;
  min-height: 576px;
  max-height: 2160px;
  max-height: 100vh;
  aspect-ratio: 16/9;
  height: auto;
}

/* FROM HERE - all background colors are place holders!!! */

#top {
  background-color: #222;
  color: white;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
}

#name {
  flex: 2;
  font-weight: 500;
  letter-spacing: 25px;
  margin-left: 3%;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 400%;
  font-weight: 200;
}

#navMenu {
  flex: 1;
  width: 100%;
  background-color: white;
  color: #222;
  display: flex;
  justify-content: space-evenly;
}

#navMenu p {
  font-size: 150%;
  text-align: center;
  padding: auto;
  display: flex;
  align-items: center;
}

#navMenu p:hover {
  font-weight: bolder;
  cursor: pointer;
}

main {
  width: 100%;
  height: 85%;
  background-image: url(assets/bgimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* MAIN CONTENT */

#content {
  width: 100%;
  height: 95%;
}

/* RIGHT SECTION */

#contacts {
  width: 100%;
  height: 5%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 120%;
  color: #222;
}

#contacts span:hover {
  font-weight: bolder;
  cursor: pointer;
}
