* {
  font-size: 62.5%; /* 1 em 10px scale */
  margin: 0;
}

body {
  background-color: #444;
  width: 100%;
  min-width: 1024px;
  aspect-ratio: 16/9 auto;
}

/* FROM HERE - all background colors are place holders!!! */

main {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
}

#name {
  background-color: blueviolet;
  width: 100%;
  height: 10%;
}

#underName {
  background-color: greenyellow;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
}

#underName button{
    height: 100%;
    width: 15%;
    font-size: 2rem;
}

/* MAIN CONTENT */
#content {
  background-color: antiquewhite;
  width: 100%;
  height: 85%;
}

/* LEFT SECTION */
#left {
  background-color: mediumseagreen;
  width: 25%;
}

#photo {
  width: 100%;
  height: 25%;
  background-color: aqua;
}

#photo img{
    width: 100%;
    height: 100%;
}

#navMenu {
  width: 100%;
  height: 75%;
  background-color: brown;
}

/* RIGHT SECTION */

#right {
  width: 75%;
  background-color: aliceblue;
}

#contacts {
  background-color: burlywood;
  width: 100%;
  height: 5%;
}
