@font-face {
  font-family: myFont;
  src: url(fonts/IBMPlexSans_Condensed-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
}

button {
  all: unset;
}

a {
  all: unset;
}

html {
  font-size: 100%;
  width: 100%;
  height: 100%;
}

body {
  font-family: myFont;
  background-color: #222;
  width: 100%;
  min-width: 1240px;
  max-width: 3840px;
  min-height: 720px;
  max-height: 2160px;
  max-height: 100vh;
  aspect-ratio: 16/9;
  height: auto;
}

/* FROM HERE - all background colors are place holders!!! */

#top {
  background-color: #222;
  color: white;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 3%;
  font-size: clamp(2rem, 5vw, 5rem);
  font-weight: 100;
  letter-spacing: 25px;
}

main {
  width: 100%;
  height: 85%;
  background-image: url(assets/bgimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN CONTENT */

#power{
  background-color: #222;
  width: 14%;
  height: 30%;
  color: white;
  font-size: clamp(1.4rem, 1.8vw, 2rem);
  text-align: center;
  border-radius: 400px;
}

#power:hover{
  cursor: pointer;
}

#power:active{
  width: 12.5%;
  height: 27%;
  font-size: clamp(1.2rem, 1.6vw, 1.8rem);
  color: rgb(128, 230, 69);
}

#monitor {
  width: 80%;
  height: 90%;
  background-color: #111;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(235, 235, 235);
  border-radius: 5px;
  color: rgb(128, 230, 69);
}

#taskBar {
  width: 99%;
  height: 6%;
  padding-right: 1%;
  background-color: blue;
  display: flex;
  justify-content: flex-end;
  gap: 1%;
}

#close-window:hover {
  cursor: pointer;
  background-color: red;
}

#taskBar span {
  width: 3%;
  font-size: clamp(1.4rem, 1.8vw, 2rem);
  color: white;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navMenu {
  width: 96%;
  height: 6%;
  color: rgb(128, 230, 69);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 2%;
  border-bottom-style: dashed;
}

#navMenu span {
  font-size: clamp(1rem, 1.4vw, 1.6rem);
  font-weight: 500;
  text-align: center;
  padding: auto;
  display: flex;
  align-items:end;
}

#navMenu span:hover {
  color:rgb(147, 230, 69) ;
  font-weight: bolder;
  cursor: pointer;
}

#languages, #preload, #bisComp, #softSkills {
  width: 96%;
  height: 86%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 3%;
}

h2{
  font-size: clamp(1.8rem, 2.4vw,2.8rem);
  font-weight: lighter;
}

h3, h4{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: lighter;
}

h3{
  font-size: clamp(1.1rem, 1.4vw, 1.6rem);
}

h4{
  font-size: clamp(1rem, 1.15vw, 1.3rem);
  margin-left: 2%;
}

/* LOWER SECTION */

#contacts {
  width: 100%;
  height: 5%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: clamp(1.1rem, 1.4vw, 1.4rem);
  color: #222;
}

#contacts span:hover {
  font-weight: bolder;
  cursor: pointer;
}
